/*ESTE ES EL SCROLL MANO, NO LO BORRES >:C*/

.scroll__img{
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 5%;
	min-width: 45px; 
	background-color: #cccccc;
	border-radius: 50%;
	opacity: 0.8;
	
}

.scroll{
	opacity: 0.8;
}

.scroll:hover{
	opacity: 0.9;
}
/*AQUI TERMINAAAAAAA*/