*{
	font-family: sans-serif; 
	margin: 0px;
	padding: 0px;
}

header{
	display: fixed;
	border-bottom:solid green 1px; /*linea de referencia*/
}

.con__nav{
	display: flex;
}

.logo{
	width:30%;
}

.con__nav{
	width: 85%;
	margin: auto;
	margin-top: 10px;
}

header nav{
	width: 70%;
	margin-top: 60px;
}

header nav ul{
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

header nav ul li a{
	text-decoration: none;
	color: #000;
	padding: 10px 20px;
	display: block;
}

header nav ul li a:hover{
	color: green; /*color de referencia*/
	border-bottom: solid 1px green; /*color de referencia*/
}

.img{
	width: 100px;	/*no se de que tamaño ponerla :'u */
}