*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

ul{
    list-style: none;
}


.header-cont, .main-cont, .footer-cont, .main-header-cont{
    margin:auto;
    width: 95%;
    max-width: 1250px;
}

.body-header{
    border-bottom: rgb(180, 180, 180) 2px solid;
}


.header-cont{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.header-ul{
    display: flex;
    justify-content: space-between;
    
}


.header-ul li a{
    color:rgb(71, 71, 71);
    text-decoration: none;
    display: block;
    padding: 20px; 
    transition: all 0.2s;
    
}

.header-ul li a:hover{
    background: #373737;
    color: #ffffff;
    

}

.header-ul li a:active{
    border-radius: 10px;
}


.logo img{
    width: 150px;
}

nav{

    order: 2;
    width: 70%;
    font-size: 20px;
    
}

.logo{
    order: 1;
    margin-bottom: 5px;
}




/* -MAIN- ==============================================*/

.main-header{
    margin-top: 20px;
}

.main-header-cont{
    display: flex;
    justify-content: center;
 

}

.slideshot{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.shot1,.shot2{
    display: none;
}

.btn{
    color: #2580c2;
    font-size: 50px;
    cursor: pointer;
    align-items: center;
    z-index: 2000;   
    position: relative;
    transition: color 0.2s;
}

.btn:hover{
    color: #448ec3;

}

.left{
    left: 20px;
}

.right{
    right: 20px;
}



 


